mat-toolbar {
    margin-bottom: 20px;
  }
  
  mat-toolbar > span {
    margin-left: 10px;
  }
  
  .content-wrapper {
    max-width: 1400px;
    margin: auto;
  }
  
  .container-wrapper {
    display: flex;
    justify-content: space-around;
  }
  
  .container {
    width: 400px;
    margin: 0 25px 25px 0;
  }
  
  .list {
    border: solid 1px #ccc;
    min-height: 60px;
    border-radius: 4px;
  }
  
  .container {
    display: block;
    height: 500px;
    width: 500px;
    padding: 2em;
  }

  .checkbox-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  .species-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 8px;
  }

  .generation {
    max-width: 300px;
  }

  .content {
    display: grid;
    margin: 0 auto;
    gap: 1rem;    
  }

  .random-picker {
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    align-items: center;
    align-content: center;
  }

  .pokemon-name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .pokemon-pic {
    min-width: 200px;
  }

  @media (min-width: 600px) {
    .content {
      grid-template-columns: repeat(2, 1fr);
    }    
  }

  @media (min-width: 800px) {
    .checkbox-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1000px) {
    .checkbox-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  